<div>
    <h2 data-translate="jhipsterNewApp.myEntity.home.title">My Entities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="my-entity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jhipsterNewApp.myEntity.home.createLabel">
                        Create new My Entity
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jhipsterNewApp.myEntity.name">Name</span></th>
                    <th><span data-translate="jhipsterNewApp.myEntity.phone">Phone</span></th>
                    <th><span data-translate="jhipsterNewApp.myEntity.email">Email</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="myEntity in vm.myEntities track by myEntity.id">
                    <td><a ui-sref="my-entity-detail({id:myEntity.id})">{{myEntity.id}}</a></td>
                    <td>{{myEntity.name}}</td>
                    <td>{{myEntity.phone}}</td>
                    <td>{{myEntity.email}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="my-entity-detail({id:myEntity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="my-entity.edit({id:myEntity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="my-entity.delete({id:myEntity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
