
<div>
    <h2><span data-translate="jhipsterNewApp.myEntity.detail.title">My Entity</span> {{vm.myEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jhipsterNewApp.myEntity.name">Name</span></dt>
        <dd>
            <span>{{vm.myEntity.name}}</span>
        </dd>
        <dt><span data-translate="jhipsterNewApp.myEntity.phone">Phone</span></dt>
        <dd>
            <span>{{vm.myEntity.phone}}</span>
        </dd>
        <dt><span data-translate="jhipsterNewApp.myEntity.email">Email</span></dt>
        <dd>
            <span>{{vm.myEntity.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="my-entity-detail.edit({id:vm.myEntity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
